body {
    font-size: 1em;
}

.full.height {
    min-height: 100vh;
    display: flex !important;
    flex-flow: column nowrap;
}

.full.height > * {
    /*flex: 1 1 auto;*/
}

#content-pusher {
    /* We have to do this because otherwise content will sit right against the scrollbar */
    padding-right: 18px;
}

#desktop-menu.menu {
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
}

#desktop-menu > .active.item:last-child {
    border-radius: 0;
}

#desktop-menu.left.menu {
    border-left: 0;
}

#desktop-menu.right.menu {
    border-right: 0;
}

#desktop-menu, #mobile-menu {
    font-size: 1.1rem;
}

.top.menu {
    border-radius: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.top.margin {
    margin-top: 1rem;
}

.flex-columns {
    display: flex;
    flex-direction: row;
}

.flex-columns > * {
    flex-shrink: 0;
}

.flex-columns > .content.column > .content {
    padding: 1rem;
}

.flex-columns .first {
    flex-grow: 1;
    flex-shrink: 1;

    padding-right: 1rem;

    vertical-align: center;
}

.flex-columns .last {
    flex-grow: 0;
}

.discord.item {
    padding: 6px 0 4px 0 !important;
    background-color: #7289DA;
}

.sidebar > .discord.item {
    padding: 4px 0 5px 0 !important;
}

.main.logo.item {
    padding: 1rem 1rem 1.2rem;
}

ul.rules {
    list-style: none;
}

span.circle {
    border-radius: 50%;
    display: inline-block;
}

.circle.rules {
    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

i.blurple,
.blurple i,
.blurple.item {
    color: #7289DA;
}

.nav.column {
    background-color: #1B1C1D;
}

.ui.accordion .title.large:not(.ui) {
    font-size: 1.2em;
}

.ui[class*="internally celled"].grid {
    margin-top: 1em;
}

/*.ui.grid .column > .accordion:has(.content.active) { !* Someday, we'll get CSS 4 and this will work *!*/
/*    height: 100%;*/
/*}*/

.ui.grid .column > .accordion {
    width: 100%;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .nav.column {
        display: none !important;
    }

    .content.column {
        width: 100vw !important;
    }

    .ui.content {
        margin-top: 40px;
    }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav.column {
        display: none !important;
    }

    .content.column {
        width: 100vw !important;
    }

    .ui.content {
        margin-top: 40px;
    }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav.column {
        width: 18rem !important;
    }

    .content.column {
        width: calc(100vw - 18rem) !important;
    }

    .mobile.only {
        display: none;
    }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    .nav.column {
        width: 18rem !important;
    }

    .content.column {
        width: calc(100vw - 18rem) !important;
    }

    .mobile.only {
        display: none;
    }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
    .nav.column {
        width: 18rem !important;
    }

    .content.column {
        width: calc(100vw - 18rem) !important;
    }

    .mobile.only {
        display: none;
    }
}
